
.titleLink{
    background-image: linear-gradient(90deg, #4776E6, #4776E6);
    background-repeat: no-repeat;
    background-size: 0 1px;
    background-position: 0% bottom;
    display: inline-block;
    padding: 2px 0;
    /* background-position: right 0% bottom; */
    transition: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1), background-position .3s;
    display:inline;
    padding:2px 0;
}

.titleLink:hover{
    background-size: 100% 1px;
    /* background-position: left 0% bottom; */

}


.date::before{
    content: '';
    display: inline-block;
    height: 4px;
    width: 4px;
    margin: 0px 6px;
    border-radius: 50px;
    background-color: #4776E6
}

.boxShadow:hover{
  box-shadow:  0 20px 35px #70798b38;
}