.profile {
    padding: 30px;
}

.dividerLine0{
    border-bottom: 2px solid;

  }

  .smIcon0{
    margin: 8px 13px;
    color:#4776E6;
    transition: all .3s;
    position:relative
}



.smIcon0::before{

    content: attr(data-title);
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    padding: 6px 8px;
    background: #4776E6;
    color: white;
    border-radius: 4px;
    font-size: 11px;
    white-space: nowrap;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}



.smIcon0:hover::before{
visibility:visible;
opacity:1

}


.smIcon00{
    color:#4776E6;
    transition: all .3s;
    position:relative;
    cursor: pointer;



}



.smIcon00::before{

    content: 'edit profile';
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    padding: 6px 8px;
    background: #4776E6;
    color: white;
    border-radius: 4px;
    font-size: 11px;
    white-space: nowrap;
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
}


.profile-loader{
    min-height : calc(100vh-130px);
    width: 100%;
    dispaly:flex;
    flex-direction: flex-column;
    alighn-items: center;
    justify-content:center;
    margin:20px 0;

}
.profile-header {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
}

.profile-image-wrapper {
    width: 120px;
    height: 120px;
    position: relative;
    text-align: center;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.upload-profile-photo-icon,
.upload-profile-photo-btn {
    color: var(--primary-color);
    background-color: #eee;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 0 5px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    margin: auto;
    width: max-content;
    cursor: pointer;
    z-index: 10;
    font-size: 25px;
}

.upload-profile-photo-btn {
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: var(--dark-color);
    right: -65px;
}

.profile-username {
    font-size: 30px;
    color: var(--white-color);
    margin: 10px 0;
}

.profile-bio {
    font-size: 18px;
    font-weight: 500;
    color: var(--main-color);
    margin: 10px 0;
}

.user-date-joined strong {
    color: var(--gray-color);
    font-size: 17px;
}

.user-date-joined span {
    color: var(--green-sea-color);
    font-size: 15px;
    font-weight: 500;
}

.profile-update-btn {
    font-size: 21px;
    font-weight: 500;
    background-color: var(--green-color);
    color: var(--white-color);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.profile-posts-list {
    width: 800px;
    margin: 20px auto;
}

.profile-posts-list-title {
    margin-bottom: 20px;
    padding: 5px 0;
    font-size: 40px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.delete-account-btn {
    background-color: var(--white-color);
    color: var(--red-color);
    padding: 5px;
    border: 1px solid var(--red-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 920px) {
    .profile-posts-list {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .profile {
        padding: 15px;
    }

    .profile-header {
        padding: 10px;
    }

    .profile-bio {
        text-align: center;
    }
}
















.author-social-links ul {
    margin: 0;
    padding: 8px;
    list-style: none;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid var(--soft-border-color);
}

.author-social-links ul li {
    margin: 0 10px;
    line-height: 1;
}

.author-social-links a {
    position: relative;
    font-size: 1.4rem;
    color: var(--second-color);
    display: block;
}

.author-social-links a:hover {
    color: var(--accent-color);
}

.author-social-links a i {
    display: block;
}

.author-social-links a::before {
    content: attr(data-title);
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    padding: 6px 8px;
    background: var(--second-color);
    color: var(--second-color-alt);
    border-radius: 4px;
    font-size: 11px;
    white-space: nowrap;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.author-social-links a:hover::before {
    opacity: 1;
    visibility: visible;
}




@keyframes spinning {
    from   {transform: rotate(0deg);
  }
    to  {transform: rotate(360deg);
    }

    }


    .loading{
        animation-name: spinning;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-play-state: running;
        animation-fill-mode: both;
        animation-iteration-count:infinite;
    }

