

.header-upper {
  background-image: linear-gradient(100deg, #7f5bc4 0%, #60a3e6 77%);

}

@media only screen and (min-width: 1025px){
  .header-upper{
    border-radius: 25px 25px 0 0;

  }

}


.header-right-user-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}






.header-upper li {
  margin-left: calc(36px / 2);
  margin-right: calc(36px / 2);
}
.li1:after {
  position: relative;
  content: "";
  border: transparent;
  border-left-style: solid;
  border-left-width: 1px;
  border-color: #ffffff6e;
  box-sizing: border-box;
}
.li1:after {
  right: calc(-36px / 2);
}

.navLink {
  position: relative;
  text-transform: uppercase;
  color: #232428;
  line-height: 2;
}

.navLink::before {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2px;
  width: 99%;
  background: #4776e6;
  transition: 0.3s;
  box-sizing: border-box;
  transform-origin: left;
  transform: scaleX(0);
}

.navLink:hover::before {
  transform: scaleX(1);
}

.navLink:hover {
  color: #4776e6;
}

.dropDown {
  pointer-events: none!important;
  touch-action:none!important;
  color: #5b6b80;
  width: 150px;
  height: 150px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 54px;
  border-radius: 10px;
  box-shadow: 0 15px 30px #12121338;
  transition: 0.3s;
  transition-delay: 0.1s;
  transform: translateX(30px);
  transform-origin: right;
  z-index: 9999
}

.dividerLine{
  border-bottom: 1px solid #212A3B1F;

}


.dropdown{
  box-sizing:border-box;
  color: #5b6b80;
  width: 300px;
  height:auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left:-10px;
  z-index: 10;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 30px #12121338;
  padding: 20px 0;
  transition: 0.3s;
  transition-delay: 0.1s;
  transform: translateX(-20px);
  transition-origin: left;

}
.activedrop {
  padding: 20px 0;
  width: 300px;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  left:-10px;
  z-index: 40;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 30px #12121338;
  transition: 0.3s;
  visibility: visible;
  transform: translateX(0px);
  opacity: 1;
  transition-delay: 0s;
  transition-origin: left;
}


.activeDrop {
  color: #5b6b80;
  width: 150px;
  height: 150px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  right: 54px;
  z-index: 30;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 30px #12121338;
  transition: 0.3s;
  transform: translateX(0);
  visibility:visible;
  opacity: 1;
  transition-delay: 0s;
  transform-origin: right;
}

.linkWrapperHidden {
  width: 100%;
  padding: 15px;
  transition: 0.3s;
  visibility: invisible;
  transform: translateX(-20px);
  opacity: 0;
  transition-delay: 0.1s;
  pointer-events: none;
  transition-origin: left;

}

.linkWrapper {
  width: 100%;
  padding: 15px;
  transition: 0.3s;
  visibility: visible;
  transform: translateX(0px);
  opacity: 1;
  transition-delay: 0s;
  transition-origin: right;

}
.linkWrapper:hover {
  width: 100%;
  color: #4776e6;
  background-color:#f1f4f7;
}
.headerRightNavLink {
  color: #5b6b80;
  width: 100%;
}
.headerRightNavLink:hover {
    color: #4776E6;
  }

.headerRightNavLink span::before {
  display: inline-block;
  content: "";
  width: 0em;
  height: 2px;
  transform: translateX(0px);
  transition: 0.2s;
  background-color: #4776E6;
  margin-bottom: 5px;
  margin-right: 4px;
}

.headerRightNavLink span:hover::before {
  width: 0.8em;
  transform: translateX(1);
}

.activeIte{
    width: 100%;
    padding: 15px;
    /* background-color: #dee3ff; */
    background-color:#f1f4f7;

}

.activeIte span{
    color:#4776E6
}

.activeIte span::before{
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 2px;
    background-color: #4776E6;
    margin-bottom: 5px;
    margin-right: 4px;
}


/* For mobile phones: */


.user-name{
  color:#232428
}