
@import 'normalize.css';
@import './tailwind.css';

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-[#4f4f4f];
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}


:root {

}

* {
  font-size:16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

body {
  background-color: #DEE3FF;
  overflow-x: hidden;
  font-weight: 400;
  letter-space:-0.2px;
  min-height: 100%;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}


/* Scrollbar Classes For Google Chrome */
/* html::-webkit-scrollbar {
  width: 9px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(187, 179, 179);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 15px;
} */


html{
  height:100%;
  width:100%;
  font-size: 16px;
  scroll-behavior: smooth;

}



h1 {
  font-size: 2em; /* 32px */
}

h2 {
  font-size: 1.5em; /* 24px */
}

h3 {
  font-size: 1.17em; /* 18.72px */
}

h4 {
  font-size: 1em; /* 16px */
}


h5 {
  font-size: 0.83em; /* 13.28px */
}

h6 {
  font-size: 0.67em; /* 10.72px */
}
