.navLink0 {
  position: relative;
  color: #232428;
  line-height: 2;
  font-size: 0.95rem;
}

.navLink0::before {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2px;
  width: 99%;
  background: linear-gradient(90deg, #4776E6, #00ffcb) no-repeat 0 100%;
  transition: 0.3s;
  box-sizing: border-box;
  transform-origin: left;
  transform: scaleX(1);
}

.navLink0:hover::before {
  transform: scaleX(0);
}


@keyframes spinning {
  from   {transform: rotate(0deg);
}
  to  {transform: rotate(360deg);
  }

  }


  .loading{
      animation-name: spinning;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-play-state: running;
      animation-fill-mode: both;
      animation-iteration-count:infinite;
  }
